body {
    background-color: lightyellow;
}

.card-search-title {
    font-size: 1.5vw;;
}

#history {
    border: none;
}

.card-title-now {
    font-size: 2vw;
}

.card-subtitle-now {
    font-weight: bold;
}

.five-forecast-title {
    font-size: 1.5vw;
}

.forecast {
    font-size: .75vw;
    color: antiquewhite;
    font-weight: bold;
}

.card-title {
    font-size: 1vw;
}

.card-body h6 {
    font-size: 1.25vw;
    font-weight: bold;
}
