body {
    background-color: lightyellow;
}

.card-search-title {
    font-size: 2vw;
}

.five-forecast-title {
    font-size: 1.5vw;
}

.forecast {
    font-size: .75vw;
    color: antiquewhite;
}

.card-title {
    font-size: 1vw;
}